*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: #333;
    box-sizing: border-box;
}

.wrap{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color: #999;
    position: relative;
}
.back{
    width: 1200px;
    height: 150px;
    background-color: black;
    position: absolute;
    top: 100px;
}
.a{
    width: 1200px;
    height: 100px;
    background-color: #888;
    display: flex;
}
.a>.a1{
    width: 200px;
    height: 100px;
    background-color: hotpink;
}
.a>.a2{
    width: 1000px;
    height: 100px;
    background-color: orange;
}
.a>.a2>ul.m{
    width: 800px;
    height: 40px;
    background-color: pink;
    margin-top: 30px;
    margin-left: 180px;
    line-height: 40px;
    display: flex;
    position: relative;
    z-index: 1;
}
.a>.a2>ul.m>li{
    width: 200px;
    height: 40px;
    line-height: 40px;
}
.a>.a2>ul.m>li:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.a>.a2>ul.m>li>a{display: block;}
.a>.a2>ul.m>li>ul.s{
    width: 200px;
    height: 105px;
    background-color: hotpink;
    z-index: 1;
    position: relative;
}
.a>.a2>ul.m>li>ul.s>li{
    width: 200px;
    height: 35px;
    line-height: 35px;
}
.a>.a2>ul.m>li>ul.s>li:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.a>.a2>ul.m>li>ul.s>li>a{display: block;}
.b{
    width: 1200px;
    height: 300px;
    background-color: #777;
}
.c{
    width: 1200px;
    height: 200px;
    background-color: #666;
    display: flex;
}
.c>.c1{
    width: 400px;
    height: 200px;
    background-color: aqua;
}
.c>.c2{
    width: 400px;
    height: 200px;
    background-color: blue;
}
.c>.c3{
    width: 400px;
    height: 200px;
    background-color: pink;
}
.d{
    width: 1200px;
    height: 100px;
    background-color: #555;
    display: flex;
}
.d>.d1{
    width: 1000px;
    height: 100px;
    background-color: #444;
}
.d>.d1>.up{
    width: 1000px;
    height: 50px;
    background-color: yellow;
}
.d>.d1>.down{
    width: 1000px;
    height: 50px;
    background-color: green;
}
.d>.d2{
    width: 200px;
    height: 100px;
    background-color: red;
}
