*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    color: #333;
    list-style: none;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    display: flex;
}
.a{
    width: 200px;
    height: 100%;
    background-color: #bbb;
}
.a>.a1{
    width: 200px;
    height: 100px;
    background-color: #999;
}
.a>.a2{
    width: 200px;
    height: calc(100% - 200px);
    background-color: #888;
}
.a>.a3{
    width: 200px;
    height: 100px;
    background-color: #777;
}
.bcd{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #ddd;
}
.bcd>.cb{
    width: 100%;
    height: calc(100% - 100px);
    background-color: #666;
    display: flex;
}
.bcd>.cb>.c{
    width: 400px;
    height: 100%;
    background-color: #444;
}
.bcd>.cb>.c>.c1{
    width: 400px;
    height: 150px;
    background-color: red;
}
.bcd>.cb>.c>.c2{
    width: 400px;
    height: calc(50% - 150px);
    background-color: green;
}
.bcd>.cb>.c>.c3{
    width: 400px;
    height: calc(50% - 150px);
    background-color: blue;
}
.bcd>.cb>.c>.c4{
    width: 400px;
    height: 150px;
    background-color: yellow;
}
.bcd>.cb>.b{
    width: calc(100% - 400px);
    height: 100%;
    background-color: #333;
}
.bcd>.d{
    width: 100%;
    height: 100px;
    background-color: #555;
    display: flex;
}
.bcd>.d>.d1{
    width: calc(100% - 200px);
    height: 100px;
    background-color: pink;
}
.bcd>.d>.d2{
    width: 200px;
    height: 100px;
    background-color: gold;
}